.carbon-SerializedData .survey-result { margin-bottom: 40px; font-size: 18px; color: #393939; }
.carbon-SerializedData .survey-result .purple-title { padding: 20px; background: #3f244b; color: #86b819; font-size: 26px; line-height: 1.2; font-weight: 700; }
.carbon-SerializedData .survey-result .sub-title { padding: 20px; background: #f4f4f4; color: #3f244b; font-size: 25px; line-height: 1.2; font-weight: 700; }

.carbon-SerializedData .survey-result .result-body ul { list-style-type: none; margin: 0 0 30px; color: #3f244b; font-size: 20px; }
.carbon-SerializedData .survey-result .score-board ul { list-style-type: none; margin: 0; }
.carbon-SerializedData .survey-result .score-board ul li { padding: 20px; background: #f4f4f4; margin-top: 3px; font-size: 25px; font-weight: 700; color: #3f244b; }
.carbon-SerializedData .survey-result .score-board ul li div { display: inline-block; vertical-align: middle; width: 40%; }
.carbon-SerializedData .survey-result .score-board ul li div.score { width: 50%; }
.carbon-SerializedData .survey-result .percent { color: #ff0000; }

@media screen and (max-width: 767px){
    .carbon-SerializedData .survey-result .sub-title { font-size: 18px; }
    
    .carbon-SerializedData .survey-result { font-size: 14px; }
    .carbon-SerializedData .survey-result .result-body ul { font-size: 16px; }

    .carbon-SerializedData .survey-result .score-board ul li { font-size: 18px; padding: 10px; }
    .carbon-SerializedData .survey-result .score-board ul li div.score { width: 55%; margin-left: 3%; }
}